body {
    padding: 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

.message-div {
    background-color: rgba(177, 177, 177, 0.521);
    width: 30%;
    padding: 15px;
    margin: 1%;
    border-radius: 25%;
}

form {
    margin-top: 3%;
    padding: 15px;
    display: flex;
    border-radius: 5%;
    background-color: rgba(177, 177, 177, 0.521);
    flex-direction: column;
}

input {
    margin: 1%;
}

form button {
    width: 60%;
    margin: auto;
    margin-bottom: 1%;
}
